*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #FFF;
  padding: 0 2%;
  -webkit-box-shadow: 1px 1px 16px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 16px 4px rgba(0, 0, 0, 0.4);
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* gap: 20px; */
}

nav ul a {
  margin: 5px;
  display: inline-block;
  padding: 5px;
  color: #000;
  text-decoration: none;
}

/* nav ul a:hover {} */

section {
  min-height: 80vh;
  padding: 80px 2%;
}

#home {
  min-height: 100vh;
  background: url(bilder/matheus-frade-KO46ZfbNdtY-unsplash.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.intro {
  width: 80%;
  color: #FFF;
  margin-left: 10%;
  /* text-align: center; */
}

.intro h2 {
  /* Standardschriftgröße des HTML-Elements * 4 */
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0;
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
}

.nav-link {
  width: 101px;
  transition: font-weight .1s;
}

.nav-link:hover {
  font-weight: bold;
}

.image-holder {
  width: 100%;
  height: 45vw;
}

.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

.button {
  background: rgba(0, 0, 0, .3);
  padding: 10px 30px;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s;
}

.button:hover {
  background: rgba(0, 0, 0, .7);
}

#work {
  background-color: #d9e6fa;
}

#contact {
  background-color: #f4d9d2;
  color: #463c3c;
}

.contact-link {
  color: #463c3c;
}

#find-us {
  background-color: #7f97b0;
  color: white;
}

#find-us a {
  color: white;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8rem;
}

@media (min-width: 769px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .intro {
    width: 60%;
    margin: auto;
  }

  .class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .class-image-holder {
    flex: 1;
    flex-shrink: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9rem;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}

@media (min-width: 1200px) {
  .intro {
    width: 30%;
    margin-left: 10%;
  }
}
